	<!-- Bootstrap JS -->
	<script src="/userAssets/js/bootstrap.bundle.min.js"></script>
	<!--plugins-->
	<script src="/userAssets/js/jquery.min.js"></script>
	<script src="/userAssets/plugins/OwlCarousel/js/owl.carousel.min.js"></script>
	<script src="/userAssets/plugins/OwlCarousel/js/owl.carousel2.thumbs.min.js"></script>
	<script src="/userAssets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<!--app JS-->
	<script src="/userAssets/js/app.js"></script>
	<script src="/userAssets/js/index.js"></script>
</body>


<!-- Mirrored from codervent.com/shopingo/demo/shopingo_V2/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 15 Dec 2023 11:39:03 GMT -->
</html>