<%- include('../layouts/header') %>

	
<div class="container">
    <div class="form-body mt-5">
        <form class="row g-3 mx-auto" style="max-width: 400px;" action="/fortgot-password-otp-verify" method="POST">
            <div class="col-12">
                <label for="otp" class="form-label">OTP</label>
                <input type="text" class="form-control" id="text" name="otp" placeholder="Enter otp" required>
            </div>

            <div class="col-12">
                <div class="d-grid">
                    <button type="submit" class="btn btn-dark"><i class="bx bxs-lock-open"></i>Verify</button>
                </div>
            </div>
        </form>
        <% if(typeof message !== 'undefined'){ %>
            <h4 class="text-center mt-3" style="color: red;"><%= message %></h4>
        <% } %>
    </div>
</div>




<%- include('../layouts/footer') %>