<%- include('../layouts/header') %>

	






		<!--start slider section-->
		<section class="slider-section mb-4">
			<div class="first-slider p-0">

				<div class="banner-slider owl-carousel owl-theme">
					<div class="item"> 
						<div class="position-relative">
							<div class="position-absolute top-50 slider-content translate-middle">
								<h3 class="h3 fw-bold d-none d-md-block">New Trending</h3>
								<h1 class="h1 fw-bold">Women Fashion</h1>
								<p class="fw-bold text-dark d-none d-md-block"><i>Last call for upto 15%</i></p>
								<div class=""><a class="btn btn-dark btn-ecomm px-4" href="shop-grid.html">Shop Now</a>
								</div>
							  </div>
							<a href="javascript:;">
								<img src="/images/banners/01.png" class="img-fluid" alt="...">
							</a>
						</div>
					</div>
					<div class="item">
						<div class="position-relative">
							<div class="position-absolute top-50 slider-content translate-middle">
								<h3 class="h3 fw-bold d-none d-md-block">New Trending</h3>
								<h1 class="h1 fw-bold">Men Fashion</h1>
								<p class="fw-bold text-dark d-none d-md-block"><i>Last call for upto 15%</i></p>
								<div class=""><a class="btn btn-dark btn-ecomm px-4" href="shop-grid.html">Shop Now</a>
								</div>
							  </div>
							<a href="javascript:;">
								<img src="/images/banners/02.png" class="img-fluid" alt="...">
							</a>
						</div>
					</div>
					<div class="item">
						<div class="position-relative">
							<div class="position-absolute top-50 slider-content translate-middle">
								<h3 class="h3 fw-bold d-none d-md-block">New Trending</h3>
								<h1 class="h1 fw-bold">Kids Fashion</h1>
								<p class="fw-bold text-dark d-none d-md-block"><i>Last call for upto 15%</i></p>
								<div class=""><a class="btn btn-dark btn-ecomm px-4" href="shop-grid.html">Shop Now</a>
								</div>
							  </div>
							<a href="javascript:;">
								<img src="/images/banners/04.png" class="img-fluid" alt="...">
							</a>
						</div>
					</div>
				</div>

			</div>
		</section>
		<!--end slider section-->
		
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				

				<!--start pramotion-->
				<section class="py-4">
					<div class="container">
						<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-4">
							<div class="col">
								<div class="card rounded-0 shadow-none bg-info bg-opacity-25">
									<div class="row g-0 align-items-center">
										<div class="col">
											<img src="/images/promo/01.png" class="img-fluid" alt="" />
										</div>
										<div class="col">
											<div class="card-body">
												<h5 class="card-title text-uppercase fw-bold">Men Wear</h5>
												<p class="card-text text-uppercase">Starting at $9</p>
												<a href="javascript:;" class="btn btn-outline-dark btn-ecomm">SHOP NOW</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card rounded-0 shadow-none bg-danger bg-opacity-25">
									<div class="row g-0 align-items-center">
										<div class="col">
											<img src="/images/promo/02.png" class="img-fluid" alt="" />
										</div>
										<div class="col">
											<div class="card-body">
												<h5 class="card-title text-uppercase fw-bold">Women Wear</h5>
												<p class="card-text text-uppercase">Starting at $9</p>	<a href="javascript:;" class="btn btn-outline-dark btn-ecomm">SHOP NOW</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card rounded-0 shadow-none bg-warning bg-opacity-25">
									<div class="row g-0 align-items-center">
										<div class="col">
											<img src="/images/promo/03.png" class="img-fluid" alt="" />
										</div>
										<div class="col">
											<div class="card-body">
												<h5 class="card-title text-uppercase fw-bold">Kids Wear</h5>
												<p class="card-text text-uppercase">Starting at $9</p><a href="javascript:;" class="btn btn-outline-dark btn-ecomm">SHOP NOW</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--end row-->
					</div>
				</section>
				<!--end pramotion-->

				<!--start Featured product-->
				<section class="py-4">
					<div class="container">
						<div class="separator pb-4">
							<div class="line"></div>
							<h5 class="mb-0 fw-bold separator-title">FEATURED PRODUCTS</h5>
							<div class="line"></div>
						  </div>
						<div class="product-grid">
							<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5 g-3 g-sm-4">
								<div class="col">
									<div class="card">
										<div class="position-relative overflow-hidden">
											<div class="add-cart position-absolute top-0 end-0 mt-3 me-3">
												<a href="javascript:;"><i class="fa-solid fa-cart-shopping"></i></a>
											  </div>
										  <div class="quick-view position-absolute start-0 bottom-0 end-0">
											<a href="javascript:;" data-bs-toggle="modal" data-bs-target="#QuickViewProduct">Quick View</a>
										  </div>
										  <a href="javascript:;">
											<img src="/images/products/01.png" class="img-fluid" alt="...">
										  </a>
										</div>
										<div class="card-body px-0">
										  <div class="d-flex align-items-center justify-content-between">
											  <div class="">
												  <p class="mb-1 product-short-name">Topwear</p>
												  <h6 class="mb-0 fw-bold product-short-title">White Polo Shirt</h6>
											  </div>
											  <div class="icon-wishlist">
												  <a href="javascript:;"><i class="bx bx-heart"></i></a>
											  </div>
										  </div>
										  <div class="cursor-pointer rating mt-2">
											  <i class="bx bxs-star text-warning"></i>
											  <i class="bx bxs-star text-warning"></i>
											  <i class="bx bxs-star text-warning"></i>
											  <i class="bx bxs-star text-warning"></i>
											  <i class="bx bxs-star text-warning"></i>
										  </div>
										  <div class="product-price d-flex align-items-center justify-content-start gap-2 mt-2">
											<div class="h6 fw-light fw-bold text-secondary text-decoration-line-through">$59.00</div>
											<div class="h6 fw-bold">$48.00</div>
										  </div>
										</div>
									  </div>
								  </div>

								  <div class="col">
									<div class="card">
										<div class="position-relative overflow-hidden">
											<div class="add-cart position-absolute top-0 end-0 mt-3 me-3">
												<a href="javascript:;"><i class="fa-solid fa-cart-shopping"></i></a>
											  </div>
										  <div class="quick-view position-absolute start-0 bottom-0 end-0">
											<a href="javascript:;" data-bs-toggle="modal" data-bs-target="#QuickViewProduct">Quick View</a>
										  </div>
										  <a href="javascript:;">
											<img src="/images/products/02.png" class="img-fluid" alt="...">
										  </a>
										</div>
										<div class="card-body px-0">
										  <div class="d-flex align-items-center justify-content-between">
											  <div class="">
												  <p class="mb-1 product-short-name">Topwear</p>
												  <h6 class="mb-0 fw-bold product-short-title">White Polo Shirt</h6>
											  </div>
											  <div class="icon-wishlist">
												  <a href="javascript:;"><i class="bx bx-heart"></i></a>
											  </div>
										  </div>
										  <div class="cursor-pointer rating mt-2">
											  <i class="bx bxs-star text-warning"></i>
											  <i class="bx bxs-star text-warning"></i>
											  <i class="bx bxs-star text-warning"></i>
											  <i class="bx bxs-star text-warning"></i>
											  <i class="bx bxs-star text-warning"></i>
										  </div>
										  <div class="product-price d-flex align-items-center justify-content-start gap-2 mt-2">
											<div class="h6 fw-light fw-bold text-secondary text-decoration-line-through">$59.00</div>
											<div class="h6 fw-bold">$48.00</div>
										  </div>
										</div>
									  </div>
								  </div>

								  <div class="col">
									<div class="card">
										<div class="position-relative overflow-hidden">
											<div class="add-cart position-absolute top-0 end-0 mt-3 me-3">
												<a href="javascript:;"><i class="fa-solid fa-cart-shopping"></i></a>
											  </div>
										  <div class="quick-view position-absolute start-0 bottom-0 end-0">
											<a href="javascript:;" data-bs-toggle="modal" data-bs-target="#QuickViewProduct">Quick View</a>
										  </div>
										  <a href="javascript:;">
											<img src="/images/products/03.png" class="img-fluid" alt="...">
										  </a>
										</div>
										<div class="card-body px-0">
										  <div class="d-flex align-items-center justify-content-between">
											  <div class="">
												  <p class="mb-1 product-short-name">Topwear</p>
												  <h6 class="mb-0 fw-bold product-short-title">White Polo Shirt</h6>
											  </div>
											  <div class="icon-wishlist">
												  <a href="javascript:;"><i class="bx bx-heart"></i></a>
											  </div>
										  </div>
										  <div class="cursor-pointer rating mt-2">
											  <i class="bx bxs-star text-warning"></i>
											  <i class="bx bxs-star text-warning"></i>
											  <i class="bx bxs-star text-warning"></i>
											  <i class="bx bxs-star text-warning"></i>
											  <i class="bx bxs-star text-warning"></i>
										  </div>
										  <div class="product-price d-flex align-items-center justify-content-start gap-2 mt-2">
											<div class="h6 fw-light fw-bold text-secondary text-decoration-line-through">$59.00</div>
											<div class="h6 fw-bold">$48.00</div>
										  </div>
										</div>
									  </div>
								  </div>

								  

								  
							  </div><!--end row-->
						</div>
					</div>
				</section>
				<!--end Featured product-->

				
				<!--start categories-->
				<section class="py-4">
					<div class="container">
						<div class="separator pb-4">
							<div class="line"></div>
							<h5 class="mb-0 fw-bold separator-title">Browse Catergory</h5>
							<div class="line"></div>
						 </div>

						<div class="product-grid">
							<div class="browse-category owl-carousel owl-theme">

								<div class="item">
									<div class="card rounded-0">
										<div class="card-body p-0">
											<img src="/images/categories/01.png" class="img-fluid" alt="...">
										</div>
										<div class="card-footer text-center bg-transparent border">
											<h6 class="mb-0 text-uppercase fw-bold">Fashion</h6>
											<p class="mb-0 font-12 text-uppercase">10 Products</p>
										</div>
									</div>
								</div>

								<div class="item">
									<div class="card rounded-0">
										<div class="card-body p-0">
											<img src="/images/categories/02.png" class="img-fluid" alt="...">
										</div>
										<div class="card-footer text-center bg-transparent border">
											<h6 class="mb-1 text-uppercase fw-bold">Watches</h6>
											<p class="mb-0 font-12 text-uppercase">8 Products</p>
										</div>
									</div>
								</div>

								<div class="item">
									<div class="card rounded-0">
										<div class="card-body p-0">
											<img src="/images/categories/03.png" class="img-fluid" alt="...">
										</div>
										<div class="card-footer text-center bg-transparent border">
											<h6 class="mb-1 text-uppercase fw-bold">Shoes</h6>
											<p class="mb-0 font-12 text-uppercase">14 Products</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--end categories-->


				<!--start support info-->
				<section class="py-5 bg-light">
					<div class="container">
						<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4">
							<div class="col">
								<div class="text-center border p-3 bg-white">
									<div class="font-50 text-dark"><i class='bx bx-cart-add' ></i>
									</div>
									<h5 class="fs-5 text-uppercase mb-0 fw-bold">Free delivery</h5>
									<p class="text-capitalize">Free delivery over $199</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum magna, et dapib.</p>
								</div>
							</div>
							<div class="col">
								<div class="text-center border p-3 bg-white">
									<div class="font-50 text-dark"><i class='bx bx-credit-card'></i>
									</div>
									<h5 class="fs-5 text-uppercase mb-0 fw-bold">Secure payment</h5>
									<p class="text-capitalize">We possess SSL / Secure сertificate</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum magna, et dapib.</p>
								</div>
							</div>
							<div class="col">
								<div class="text-center border p-3 bg-white">
									<div class="font-50 text-dark">	<i class='bx bx-dollar-circle'></i>
									</div>
									<h5 class="fs-5 text-uppercase mb-0 fw-bold">Free returns</h5>
									<p class="text-capitalize">We return money within 30 days</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum magna, et dapib.</p>
								</div>
							</div>
							<div class="col">
								<div class="text-center border p-3 bg-white">
									<div class="font-50 text-dark">	<i class='bx bx-support'></i>
									</div>
									<h5 class="fs-5 text-uppercase mb-0 fw-bold">Customer Support</h5>
									<p class="text-capitalize">Friendly 24/7 customer support</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum magna, et dapib.</p>
								</div>
							</div>
						</div>
						<!--end row-->
					</div>
				</section>
				<!--end support info-->				
			</div>
		</div>
		<!--end page wrapper -->


		<!--start footer section-->
		<footer>
			<section class="py-5 border-top bg-light">
				<div class="container">
					<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
						<div class="col">
							<div class="footer-section1">
								<h5 class="mb-4 text-uppercase fw-bold">Contact Info</h5>
								<div class="address mb-3">
									<h6 class="mb-0 text-uppercase fw-bold">Address</h6>
									<p class="mb-0">123 Street Name, City, Australia</p>
								</div>
								<div class="phone mb-3">
									<h6 class="mb-0 text-uppercase fw-bold">Phone</h6>
									<p class="mb-0">Toll Free (123) 472-796</p>
									<p class="mb-0">Mobile : +91-9910XXXX</p>
								</div>
								<div class="email mb-3">
									<h6 class="mb-0 text-uppercase fw-bold">Email</h6>
									<p class="mb-0">mail@example.com</p>
								</div>
								<div class="working-days mb-3">
									<h6 class="mb-0 text-uppercase fw-bold">WORKING DAYS</h6>
									<p class="mb-0">Mon - FRI / 9:30 AM - 6:30 PM</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="footer-section2">
								<h5 class="mb-4 text-uppercase fw-bold">Categories</h5>
								<ul class="list-unstyled">
									<li class="mb-1"><a href="javascript:;"><i class='bx bx-chevron-right'></i> Shirts</a>
									</li>
									<li class="mb-1"><a href="javascript:;"><i class='bx bx-chevron-right'></i> T-Shirts</a>
									</li>
									<li class="mb-1"><a href="javascript:;"><i class='bx bx-chevron-right'></i> Jackets</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--end row-->
				</div>
			</section>

			<section class="footer-strip text-center py-3 border-top positon-absolute bottom-0">
				<div class="container">
					<div class="d-flex flex-column flex-lg-row align-items-center gap-3 justify-content-between">
						<p class="mb-0">Copyright © 2022. All right reserved.</p>
						<div class="payment-icon">
							<div class="row row-cols-auto g-2 justify-content-end">
								<div class="col">
									<img src="/images/icons/visa.png" alt="" />
								</div>
								<div class="col">
									<img src="/images/icons/paypal.png" alt="" />
								</div>
								<div class="col">
									<img src="/images/icons/mastercard.png" alt="" />
								</div>
								<div class="col">
									<img src="/images/icons/american-express.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</footer>
		<!--end footer section-->


		<!--start quick view product-->
		<!-- Modal -->
		<div class="modal fade" id="QuickViewProduct">
			<div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-xl-down">
				<div class="modal-content rounded-0 border-0">
					<div class="modal-body">
						<button type="button" class="btn-close float-end" data-bs-dismiss="modal"></button>
						<div class="row g-0">
							<div class="col-12 col-lg-6">
								<div class="image-zoom-section">
									<div class="product-gallery owl-carousel owl-theme border mb-3 p-3" data-slider-id="1">
										<div class="item">
											<img src="/images/product-gallery/01.png" class="img-fluid" alt="">
										</div>
										<div class="item">
											<img src="/images/product-gallery/02.png" class="img-fluid" alt="">
										</div>
										<div class="item">
											<img src="/images/product-gallery/03.png" class="img-fluid" alt="">
										</div>
										<div class="item">
											<img src="/images/product-gallery/04.png" class="img-fluid" alt="">
										</div>
									</div>
									<div class="owl-thumbs d-flex justify-content-center" data-slider-id="1">
										<button class="owl-thumb-item">
											<img src="/images/product-gallery/01.png" class="" alt="">
										</button>
										<button class="owl-thumb-item">
											<img src="/images/product-gallery/02.png" class="" alt="">
										</button>
										<button class="owl-thumb-item">
											<img src="/images/product-gallery/03.png" class="" alt="">
										</button>
										<button class="owl-thumb-item">
											<img src="/images/product-gallery/04.png" class="" alt="">
										</button>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-6">
								<div class="product-info-section p-3">
									<h3 class="mt-3 mt-lg-0 mb-0">Allen Solly Men's Polo T-Shirt</h3>
									<div class="product-rating d-flex align-items-center mt-2">
										<div class="rates cursor-pointer font-13">	<i class="bx bxs-star text-warning"></i>
											<i class="bx bxs-star text-warning"></i>
											<i class="bx bxs-star text-warning"></i>
											<i class="bx bxs-star text-warning"></i>
											<i class="bx bxs-star text-warning"></i>
										</div>
										<div class="ms-1">
											<p class="mb-0">(24 Ratings)</p>
										</div>
									</div>
									<div class="d-flex align-items-center mt-3 gap-2">
										<h5 class="mb-0 text-decoration-line-through text-light-3">$98.00</h5>
										<h4 class="mb-0">$49.00</h4>
									</div>
									<div class="mt-3">
										<h6>Discription :</h6>
										<p class="mb-0">Virgil Abloh’s Off-White is a streetwear-inspired collection that continues to break away from the conventions of mainstream fashion. Made in Italy, these black and brown Odsy-1000 low-top sneakers.</p>
									</div>
									<dl class="row mt-3">	<dt class="col-sm-3">Product id</dt>
										<dd class="col-sm-9">#BHU5879</dd>	<dt class="col-sm-3">Delivery</dt>
										<dd class="col-sm-9">Russia, USA, and Europe</dd>
									</dl>
									<div class="row row-cols-auto align-items-center mt-3">
										<div class="col">
											<label class="form-label">Quantity</label>
											<select class="form-select form-select-sm">
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
											</select>
										</div>
										<div class="col">
											<label class="form-label">Size</label>
											<select class="form-select form-select-sm">
												<option>S</option>
												<option>M</option>
												<option>L</option>
												<option>XS</option>
												<option>XL</option>
											</select>
										</div>
										<div class="col">
											<label class="form-label">Colors</label>
											<div class="color-indigators d-flex align-items-center gap-2">
												<div class="color-indigator-item bg-primary"></div>
												<div class="color-indigator-item bg-danger"></div>
												<div class="color-indigator-item bg-success"></div>
												<div class="color-indigator-item bg-warning"></div>
											</div>
										</div>
									</div>
									<!--end row-->
									<div class="d-flex gap-2 mt-3">
										<a href="javascript:;" class="btn btn-dark btn-ecomm">	<i class="bx bxs-cart-add"></i>Add to Cart</a>	<a href="javascript:;" class="btn btn-light btn-ecomm"><i class="bx bx-heart"></i>Add to Wishlist</a>
									</div>
								</div>
							</div>
						</div>
						<!--end row-->
					</div>
				</div>
			</div>
		</div>
		<!--end quick view product-->

		
		<!--Start Back To Top Button-->
		 <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->

	</div>
	<!--end wrapper-->
	
	<%- include('../layouts/footer') %>