<%- include('../layouts/header') %>

	<!--wrapper-->
	<div class="wrapper">
		<!--start top header wrapper-->
		<div class="header-wrapper">
			<div class="top-menu">
				<div class="container">
					<nav class="navbar navbar-expand">
						<div class="shiping-title d-none d-sm-flex">Welcome to our Shopingo store!</div>
						<ul class="navbar-nav ms-auto d-none d-lg-flex">
							<li class="nav-item"><a class="nav-link" href="order-tracking.html">Track Order</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="about-us.html">About</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="shop-categories.html">Our Stores</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="blog-post.html">Blog</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="contact-us.html">Contact</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="javascript:;">Help & FAQs</a>
							</li>
						</ul>
						<ul class="navbar-nav">
							<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">USD</a>
								<ul class="dropdown-menu dropdown-menu-lg-end">
									<li><a class="dropdown-item" href="#">USD</a>
									</li>
									<li><a class="dropdown-item" href="#">EUR</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown">
									<div class="lang d-flex gap-1">
										<div><i class="flag-icon flag-icon-um"></i>
										</div>
										<div><span>ENG</span>
										</div>
									</div>
								</a>
								<div class="dropdown-menu dropdown-menu-lg-end">
									<a class="dropdown-item d-flex allign-items-center" href="javascript:;"> <i class="flag-icon flag-icon-de me-2"></i><span>German</span>
									</a>	<a class="dropdown-item d-flex allign-items-center" href="javascript:;"><i
								class="flag-icon flag-icon-fr me-2"></i><span>French</span></a>
									<a class="dropdown-item d-flex allign-items-center" href="javascript:;"><i
								class="flag-icon flag-icon-um me-2"></i><span>English</span></a>
									<a class="dropdown-item d-flex allign-items-center" href="javascript:;"><i
								class="flag-icon flag-icon-in me-2"></i><span>Hindi</span></a>
									<a class="dropdown-item d-flex allign-items-center" href="javascript:;"><i
								class="flag-icon flag-icon-cn me-2"></i><span>Chinese</span></a>
									<a class="dropdown-item d-flex allign-items-center" href="javascript:;"><i
						        class="flag-icon flag-icon-ae me-2"></i><span>Arabic</span></a>
								</div>
							</li>
						</ul>
						<ul class="navbar-nav social-link ms-lg-2 ms-auto">
							<li class="nav-item"> <a class="nav-link" href="javascript:;"><i class='bx bxl-facebook'></i></a>
							</li>
							<li class="nav-item"> <a class="nav-link" href="javascript:;"><i class='bx bxl-twitter'></i></a>
							</li>
							<li class="nav-item"> <a class="nav-link" href="javascript:;"><i class='bx bxl-linkedin'></i></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="header-content bg-warning">
				<div class="container">
					<div class="row align-items-center gx-4">
						<div class="col-auto">
							<div class="d-flex align-items-center gap-3">
								<div class="mobile-toggle-menu d-inline d-xl-none" data-bs-toggle="offcanvas"
									data-bs-target="#offcanvasNavbar">
									<i class="bx bx-menu"></i>
								</div>
								<div class="logo">
									<a href="/">
										<img src="/images/logo-icon.png" class="logo-icon" alt="" />
									</a>
								</div>
							</div>
						</div>
						<div class="col-12 col-xl order-4 order-xl-0">
							<div class="input-group flex-nowrap pb-3 pb-xl-0">
								<input type="text" class="form-control w-100 border-dark border border-3" placeholder="Search for Products">
								<button class="btn btn-dark btn-ecomm border-3" type="button">Search</button>
							</div>
						</div>
						
						<div class="col-auto ms-auto">
							<div class="top-cart-icons">
								<nav class="navbar navbar-expand">
									<ul class="navbar-nav">
										<li class="nav-item"><a href="account-dashboard.html" class="nav-link cart-link"><i class='bx bx-user'></i></a>
										</li>
										<li class="nav-item"><a href="wishlist.html" class="nav-link cart-link"><i class='bx bx-heart'></i></a>
										</li>
										<li class="nav-item dropdown dropdown-large">
											<a href="#" class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative cart-link" data-bs-toggle="dropdown">	<span class="alert-count">8</span>
												<i class='bx bx-shopping-bag'></i>
											</a>
											
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<!--end row-->
				</div>
			</div>
			<div class="primary-menu">
				<nav class="navbar navbar-expand-xl w-100 navbar-dark container mb-0 p-0">
					<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
					  <div class="offcanvas-header">
						<div class="offcanvas-logo"><img src="assets/images/logo-icon.png" width="100" alt="">
						</div>
						<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					  </div>
					  <div class="offcanvas-body primary-menu">
						<ul class="navbar-nav justify-content-start flex-grow-1 gap-1">
						  <li class="nav-item">
							<a class="nav-link" href="index.html">Home</a>
						  </li>
						  <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="tv-shows.html"
							  data-bs-toggle="dropdown">
							  Categories
							</a>
							<div class="dropdown-menu dropdown-large-menu">
							  <div class="row">
								<div class="col-12 col-xl-4">
								  <h6 class="large-menu-title">Fashion</h6>
								  <ul class="list-unstyled">
									<li><a href="javascript:;">Casual T-Shirts</a>
									</li>
									<li><a href="javascript:;">Formal Shirts</a>
									</li>
									<li><a href="javascript:;">Jackets</a>
									</li>
									<li><a href="javascript:;">Jeans</a>
									</li>
									<li><a href="javascript:;">Dresses</a>
									</li>
									<li><a href="javascript:;">Sneakers</a>
									</li>
									<li><a href="javascript:;">Belts</a>
									</li>
									<li><a href="javascript:;">Sports Shoes</a>
									</li>
								  </ul>
								</div>
								<!-- end col-3 -->
								<div class="col-12 col-xl-4">
								  <h6 class="large-menu-title">Electronics</h6>
								  <ul class="list-unstyled">
									<li><a href="javascript:;">Mobiles</a>
									</li>
									<li><a href="javascript:;">Laptops</a>
									</li>
									<li><a href="javascript:;">Macbook</a>
									</li>
									<li><a href="javascript:;">Televisions</a>
									</li>
									<li><a href="javascript:;">Lighting</a>
									</li>
									<li><a href="javascript:;">Smart Watch</a>
									</li>
									<li><a href="javascript:;">Galaxy Phones</a>
									</li>
									<li><a href="javascript:;">PC Monitors</a>
									</li>
								  </ul>
								</div>
								<!-- end col-3 -->
								<div class="col-12 col-xl-4 d-none d-xl-block">
								  <div class="pramotion-banner1">
									<img src="/images/gallery/menu-img.jpg" class="img-fluid" alt="" />
								  </div>
								</div>
								<!-- end col-3 -->
							  </div>
							  <!-- end row -->
							</div>
						  </li>
						  <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
								Shop <i class='bx bx-chevron-down ms-1'></i> 
							</a>
							
						  </li>

						  <li class="nav-item">
							<a class="nav-link" href="about-us.html">About</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" href="contact-us.html">Contact</a>
						  </li>
						  <li class="nav-item"> <a class="nav-link" href="shop-categories.html">Our Store</a> 
						  </li>
						  <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
							  Account
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="account-dashboard.html">Dashboard</a>
								</li>
								<li><a class="dropdown-item" href="account-downloads.html">Downloads</a>
								</li>
								<li><a class="dropdown-item" href="account-orders.html">My Orders</a>
								</li>
								<li><a class="dropdown-item" href="account-user-details.html">User Details</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="authentication-login.html">Login</a></li>
								<li><a class="dropdown-item" href="authentication-register.html">Register</a></li>
								<li><a class="dropdown-item" href="authentication-reset-password.html">Password</a></li>
							</ul>
						  </li>
						  <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
							  Blog
							</a>
							<ul class="dropdown-menu">
							  <li><a class="dropdown-item" href="blog-post.html">Blog Post</a></li>
							  <li><a class="dropdown-item" href="blog-read.html">Blog Read</a></li>
							</ul>
						  </li>
						</ul>
					  </div>
					</div>	
				  </nav>
			</div>
		</div>
		<!--end top header wrapper-->
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--start breadcrumb-->
				<section class="py-3 border-bottom border-top d-none d-md-flex bg-light">
					<div class="container">
						<div class="page-breadcrumb d-flex align-items-center">
							<h3 class="breadcrumb-title pe-3">Sign in</h3>
							<div class="ms-auto">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb mb-0 p-0">
										<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i> Home</a>
										</li>
										<li class="breadcrumb-item"><a href="javascript:;">Authentication</a>
										</li>
										<li class="breadcrumb-item active" aria-current="page">Sign In</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</section>
				<!--end breadcrumb-->
				<!--start shop cart-->
				<section class="">
					<div class="container">
						<div class="section-authentication-signin d-flex align-items-center justify-content-center my-5">
							<div class="row row-cols-1 row-cols-xl-2">
								<div class="col mx-auto">
									<div class="card">
										<div class="card-body">
											<div class="border p-4 rounded">
												<div class="text-center">
													<h3 class="">Sign in</h3>
													<p>Don't have an account yet? <a href="/register">Sign up here</a>
													</p>
												</div>
												<div class="d-grid">
													<a class="btn my-4 shadow-sm btn-white" href="javascript:;"> <span class="d-flex justify-content-center align-items-center">
														<img class="me-2" src="/images/icons/search.svg" width="16" alt="Image Description">
														<span>Sign in with Google</span>
														</span>
													</a> <a href="javascript:;" class="btn btn-white"><i class="bx bxl-facebook"></i>Sign in with Facebook</a>
												</div>
												<div class="login-separater text-center mb-4"> <span>OR SIGN IN WITH EMAIL</span>
													<hr/>
												</div>
												<div class="form-body">
													<form class="row g-3">
														<div class="col-12">
															<label for="inputEmailAddress" class="form-label">Email Address</label>
															<input type="email" class="form-control" id="inputEmailAddress" placeholder="Email Address">
														</div>
														<div class="col-12">
															<label for="inputChoosePassword" class="form-label">Enter Password</label>
															<div class="input-group" id="show_hide_password">
																<input type="password" class="form-control border-end-0" id="inputChoosePassword" value="12345678" placeholder="Enter Password"> <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
																<label class="form-check-label" for="flexSwitchCheckChecked">Remember Me</label>
															</div>
														</div>
														<div class="col-md-6 text-end">	<a href="authentication-forgot-password.html">Forgot Password ?</a>
														</div>
														<div class="col-12">
															<div class="d-grid">
																<button type="submit" class="btn btn-dark"><i class="bx bxs-lock-open"></i>Sign in</button>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--end row-->
						</div>
					</div>
				</section>
				<!--end shop cart-->
			</div>
		</div>
		<!--end page wrapper -->

		<!--start footer section-->
		


		<!--end footer section-->

		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
	</div>
	<!--end wrapper-->
	
	<%- include('../layouts/footer') %>